@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|Kaushan+Script&display=swap');
.navbar {
  width: 100%;
  color: white;
}

.header {
  height: 100vh;
}

.header img {
  width: 100%;
  height: 100vh;
}

.map {
  width: 100%;
  margin: 0 auto;
}

.map iframe {
  margin-top: 100px;
  width: 100%;
  height: 80vh;
  border: none;
  padding-top: 10px;
}

footer {
  text-align: center;
  background-color: rgb(136, 114, 114);
  height: 40vh;
  padding: 10px;
}

footer a {
  color: white;
}

* h1, h2, h3 {
  font-family: 'Indie Flower';
}

.error {
  text-align: center;
  background-color: red;
  width: 50%;
  margin: 10px auto;
  padding: 30px;
  color: white;
}